<nav class="navbar navbar-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item is-brand" href="{{ "/" | prepend: site.baseurl }}">

      </a>

      {% include navigation-social.html %}

      <div class="burger navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        {% include navigation-items.html %}
      </div>
      <div class="navbar-end is-hidden-touch">
        {% include navigation-social.html %}
      </div>
    </div>

  </div>
</nav>
