        <a class="nav-item{% if page.id == "home" %} is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">
          About
        </a>
        <a class="nav-item{% if page.id == "teaching-research" %} is-active{% endif %}" href="{{ "/teaching-research/" | prepend: site.baseurl }}">
          Teaching &amp; Research
        </a>
        <a class="nav-item{% if page.id == "projects" %} is-active{% endif %}" href="{{ "/projects/" | prepend: site.baseurl }}">
          Projects
        </a>
        <a class="nav-item{% if page.id == "blog" %} is-active{% endif %}" href="{{ "/blog/" | prepend: site.baseurl }}">
          Blog
        </a>
