        <div class="navbar-item brand-only-touch">
          <a class="social-icon is-feed" href="{{ "/feed.rss" | prepend: site.baseurl }}" title="RSS Feed">
            <i class="fa fa-feed"></i>
          </a>
        </div>
        <div class="navbar-item brand-only-touch">
          <a class="social-icon is-twitter" href="https://twitter.com/ntadej" target="_blank" title="Twitter @ntadej">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
        <div class="navbar-item brand-only-touch">
          <a class="social-icon is-github" href="https://github.com/ntadej" target="_blank" title="Github @ntadej">
            <i class="fa fa-github"></i>
          </a>
        </div>
        <div class="navbar-item brand-only-touch">
          <a class="social-icon is-linkedin" href="https://linkedin.com/in/ntadej" target="_blank" title="LinkedIn">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
        <div class="navbar-item brand-only-touch">
        <a
class='social-icon is-mail email
href="mailto:x@y"
'
href
=	'
&#x20;m&#x61;&#x69;&#x6c;&#x74;o&#58;&#x25;&#50;&#x30;t&#x61;&#37;6&#52;&#x65;&#37;&#x36;a@&#x74;&#97;&#x6E;&#x6f;.&#x73;i
'><!--
mailto:abuse@hotmail.com
</a>
--><i class="fa fa-envelope"></i></a></div>
