<footer class="footer">
  <div class="wrap">
    <nav class="level">
      <div class="level-left">
        <div class="level-item has-special-links">
          &copy; 2004-2016 <a xmlns:cc="http://creativecommons.org/ns#" href="https://tano.si" property="cc:attributionName" rel="cc:attributionURL">Tadej&nbsp;Novak</a>
          <a href="https://tano.si">About</a>&nbsp;<a href="https://tano.si/privacy/">Privacy</a>
        </div>
      </div>
      <div class="level-center">
        <a href="https://tano.si" title="Tadej Novak" class="logo"></a>
      </div>
      <div class="level-right">
        <div class="level-item has-special-links">
          <a href="https://tano.si/blog/">Blog</a>
          <a href="https://discuss.tano.si">Discussions</a>
          <a href="https://vlc-qt.tano.si">VLC-Qt</a>
        </div>
      </div>
    </nav>

    {% include footer-special.html %}
    </div>
  </div>
</footer>
