---
layout: page
homepage: true
smooth: true
retina: true
---
        <a id="top" class="anchor"></a>
        <h1 class="large">Tadej Novak</h1>
        <p class="byline byline-large">Physicist, Developer, Science Hack Day Ambassador, Creator of Particle Clicker and Tano Player</p>
        <div class="row">
            <div class="eight columns">
            {% assign latest = site.posts.first %}
                <h2>Latest blog post</h2>
                <h3>{{ latest.title }}</h3>
                <p class="lead gray"><time class="entry-date" datetime="{{ post.date | date: "%FT%T"}}+00:00">{{ latest.date | date: "%B %-d, %Y" }}</time></p>

                {{ latest.excerpt | first_paragraph }}

                <p><a class="button button-primary" href="{{ latest.url }}">Continue reading</a> <a class="button button-primary" href="{{ "/blog/" | prepend: site.baseurl }}">All blog posts</a></p>
            </div>
            <div class="four columns">
                <h2>Latest tweets</h2>
                <a class="twitter-timeline" href="https://twitter.com/ntadej" data-widget-id="531520598766133248">Tweets by @ntadej</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>

        <hr class="soften">

        <a id="about" class="anchor"></a>
        <h1>About me</h1>
        <p class="byline">Physicist and hobby developer</p>

        <h2>Physics</h2>
        <p>After successfull graduation from Faculty of Mathematics and Physics, University of Ljubljana, I am now doing my Master's in particle physics.</p>
        <p>In summer 2014 I worked at CERN as a Summer Student on the ATLAS experiment. There I created a simple educational game called <a href="{{ "/particle-clicker/" | prepend: site.baseurl }}">Particle Clicker</a>, together with <a href="http://babushk.in">Igor</a>, <a href="http://dun.gs">Kevin</a>, and <a href="https://github.com/gbiro">Gábor</a>.</p></p>

        <h2>Science Hack Day</h2>
        I am honored to be one of the global <a href="http://sciencehackday.org" target="_blank">Science Hack Day</a> ambassadors, helping spread the concept in Slovenia and around the world. It is coming in Ljubljana, Slovenia in 2016. More details soon!

        <h2>Software and web development</h2>
        <p>I have been involved open-source development since 2008. My main projects are <strong>Tano Player</strong> and <strong>VLC-Qt library</strong>. I have also contributed to other open-source projects such as XBMC, tvheadend, OpenTTD and more. From time to time I also do some web development.</p>
        <p>Currently I work part-time at <a href="http://perception.tv" target="_blank">Fora d.o.o.</a> where I develop web based IPTV solutions.</p>

        <h2>Notable achievements</h2>
        <p>I have attended 8. <a href="http://www.ioling.org/" target="_blank">International Linguistics Olympiad</a> in Stockholm, Sweden in 2010. Individually I received Honorable mention and as a member of Team Slovenia 1 we achieved 7. place. I have also attended 9. IOL in Pittsburgh, PA in the USA in 2011.</p>

        <hr class="soften">

        <a id="academic" class="anchor"></a>
        <h1>Academic resources</h1>
        <p class="byline">Various resources available from my studies at Faculty of Mathematics and Physics, University of Ljubljana.</p>

        <a id="research" class="anchor anchor-small"></a>
        <h2>Research</h2>
        <p>A list of my scientific papers.</p>
        <ul class="list-group">
            <li class="list-group-item"><a href="http://matrika.fmf.uni-lj.si/letnik-1/stevilka-1/2D_kvazikristali_v_mehki_snovi.html" target="_blank">2D kvazikristali v mehki snovi (2D quasicrystals in soft matter)</a><br>
                T. Novak, Matrika <strong>1</strong>, 3 (2014)</li>
        </ul>

        <a id="tutorstvo" class="anchor anchor-small"></a>
        <a id="tutorship" class="anchor anchor-small"></a>
        <h2>Tutorship</h2>
        <p>I am tutor at Faculty of Mathematics and Physics, University of Ljubljana.
            All resources are only available in Slovenian.</p>

        <h3>Računalniška orodja v fiziki</h3>
{% include tutorship/racorodja.html %}

        <h3>Fizika 1 & 2</h3>
{% include tutorship/fizika.html %}

        <hr class="soften">

        <a id="projects" class="anchor"></a>
        <h1>Projects</h1>
        <p class="byline">My work and free-time projects</p>

        <a id="games" class="anchor anchor-small"></a>
        <h2>Games</h2>
        <div class="row">
            <div class="six columns">
                <a href="{{ "/particle-clicker/" | prepend: site.baseurl }}">{% image projects/particle-clicker.jpg class:project %}</a>
                <h3>Particle Clicker</h3>
                <p>Particle Clicker is <strong>an addictive incremental game</strong> that teaches players the history of high energy particle physics. The game was made during the <strong>CERN Webfest 2014</strong>. The idea is borrowed from <strong>Cookie Clicker</strong>, an amazing cookie-themed game.</p>
                <p><a class="button button-primary" href="http://cern.ch/particle-clicker/" target="_blank">Play now!</a> <a class="button button-primary" href="{{ "/particle-clicker/" | prepend: site.baseurl }}">Read more</a></p>
            </div>
        </div>

        <a id="multimedia" class="anchor anchor-small"></a>
        <h2>Multimedia</h2>
        <div class="row">
            <div class="six columns">
                <a href="{{ site.vlc-qt_url }}">{% image projects/vlc-qt.jpg class:project %}</a>
                <h3>VLC-Qt Library</h3>
                <p>VLC-Qt is a <strong>free open-source library</strong> used to connect <strong>Qt</strong> and <strong>libvlc</strong> libraries. It contains core classes for main media playback and also some GUI classes for faster media player developement.</p>
                <p><a class="button button-primary" href="{{ site.vlc-qt_url }}">Visit project page</a></p>
            </div>
            <div class="six columns">
                <a href="{{ "/tano-player/" | prepend: site.baseurl }}">{% image projects/tano.jpg class:project %}</a>
                <h3>Tano Player</h3>
                <p>Tano is an <strong>open-source cross-platform IP TV player</strong>. It features full IP TV playback with <strong>EPG</strong> and <strong>recorder</strong>. Project started because of a need of a simple IP TV player on Linux providing EPG.</p>
                <p>Used by commercial users such as <a href="http://tt.se/om-tt/in-english/" target="_blank">Tidningarnas Telegrambyrå</a> and <a href="http://gotv.ba" tagret="_blank">GoTV</a>.
                <p><a class="button button-primary" href="{{ "/tano-player/" | prepend: site.baseurl }}">Visit project page</a></p>
            </div>
        </div>

        <a id="web" class="anchor anchor-small"></a>
        <h2>Web</h2>
        <div class="row">
            <div class="six columns">
                <a href="http://matrika.fmf.uni-lj.si" target="_blank">{% image projects/matrika.jpg class:project %}</a>
                <h3>Matrika</h3>
                <p>A simple web page for <strong>scientific journal Matrika</strong>. Developed for Faculty of Mathematics and Physics, University of Ljubljana.</p>
                <p><a class="button button-primary" href="http://matrika.fmf.uni-lj.si" target="_blank">Visit webpage</a></p>
            </div>
            <div class="six columns">
                <a href="http://fmf.si" target="_blank">{% image projects/fmf.jpg class:project %}</a>
                <h3>FMF.si</h3>
                <p><strong>Student web pages</strong> at Faculty of Mathematics and Physics, University of Ljubljana. I am currently main developer and administrator.</p>
                <p><a class="button button-primary" href="http://fmf.si" target="_blank">Visit webpage</a></p>
            </div>
        </div>

        <a id="archive" class="anchor anchor-small"></a>
        <h2>Archive</h2>
        <div class="row">
            <div class="six columns">
                <div class="project meeplus"></div>
                <h3>MeePlus</h3>
                <p>MeePlus is an unofficial <strong>Google+</strong> client for <strong>Nokia N9</strong>. You can browse people, activities and other content on Google+. Due to current Google API restrictions <strong>only public content</strong> is available.</p>
                <p>Source code is available <a href="http://github.com/ntadej/MeePlus" target="_blank">here</a>. Feel free to take over.</p>
            </div>
        </div>
