                <p>V letnem semestru študijskega leta 2014/15 imamo tutorske vaje <strong>ob sredah ob 8h v predavalnici F6</strong>, izmenično s tutorstvom za Matematiko 2 (Mateja Hrast).</p>
                <p><i>O morebitnih napakah me prosim obvestite!</i></p>
                <ul id="fizika-tabs" class="nav nav-tabs">
                    <li class="active"><a href="#fizika-1415" data-toggle="tab">2014/15</a></li>
                    <li><a href="#fizika-1314" data-toggle="tab">2013/14</a></li>
                    <li><a href="#fizika-1213" data-toggle="tab">2012/13</a></li>
                </ul>
                <div class="tab-content well-custom">
                    <div class="tab-pane fade active in" id="fizika-1415">
                        <h4>Fizika 1</h4>
                        <p>
                            <span class="label label-default">27. 10. 2014</span>
                            <a target="_blank" href="/files/tutorstvo/fiz1/2014-15/dn_1.pdf">Domača naloga</a> -
                            <a target="_blank" href="/files/tutorstvo/fiz1/2014-15/tut_1.pdf">Rešitev</a> -
                            <a href="/files/tutorstvo/fiz1/2014-15/anim_1.gif" data-lightbox="dn_1" data-title="Animiran prikaz gibanja žogice">Animacija 1</a> -
                            <a href="/files/tutorstvo/fiz1/2014-15/anim_1_alt.gif" data-lightbox="dn_1" data-title="Animiran prikaz gibanja žogice z večjo začetno višino">Animacija 2</a>
                        </p>
                        <p>
                            <span class="label label-default">10. 11. 2014</span>
                            <a target="_blank" href="/files/tutorstvo/fiz1/2014-15/dn_2.pdf">Domača naloga</a> -
                            <a target="_blank" href="/files/tutorstvo/fiz1/2014-15/tut_2.pdf">Rešitev</a>
                        </p>
                        <p>
                            <span class="label label-default">24. 11. 2014</span>
                            <a target="_blank" href="/files/tutorstvo/fiz1/2014-15/dn_3.pdf">Domača naloga</a> -
                            <a target="_blank" href="/files/tutorstvo/fiz1/2014-15/tut_3.pdf">Rešitev</a>
                        </p>
                        <p>
                            <span class="label label-default">8. 12. 2014</span>
                            <a target="_blank" href="/files/tutorstvo/fiz1/2014-15/dn_4.pdf">Domača naloga</a> -
                            <a target="_blank" href="/files/tutorstvo/fiz1/2014-15/tut_4.pdf">Rešitev</a>
                        </p>
                        <p>
                            <span class="label label-default">22. 12. 2014</span>
                            <a target="_blank" href="/files/tutorstvo/fiz1/2014-15/dn_5.pdf">Domača naloga</a> -
                            <a target="_blank" href="/files/tutorstvo/fiz1/2014-15/tut_5.pdf">Rešitev</a>
                        </p>
                        <p>
                            <span class="label label-default">12. 1. 2015</span>
                            <a target="_blank" href="/files/tutorstvo/fiz1/2014-15/dn_6.pdf">Domača naloga</a> -
                            <a target="_blank" href="/files/tutorstvo/fiz1/2014-15/tut_6.pdf">Rešitev</a>
                        </p>
                        <p>
                            <span class="label label-default">21. 1. 2014</span>
                            <a target="_blank" href="/files/tutorstvo/fiz1/2014-15/dn_7.pdf">Domača naloga</a> -
                            <s>Rešitev</s>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="fizika-1314">
                        <h4>Fizika 1</h4>
                        <p>
                            <span class="label label-default">23. 10. 2013</span>
                            <a target="_blank" href="/files/tutorstvo/fiz1/2013-14/dn_1.pdf">Domača naloga</a> -
                            <a target="_blank" href="/files/tutorstvo/fiz1/2013-14/tut_1.pdf">Rešitev</a>
                        </p>
                        <p>
                            <span class="label label-default">13. 11. 2013</span>
                            <a target="_blank" href="/files/tutorstvo/fiz1/2013-14/dn_2.pdf">Domača naloga</a> -
                            <a target="_blank" href="/files/tutorstvo/fiz1/2013-14/tut_2.pdf">Rešitev</a>
                        </p>
                        <p><i>Zaradi majhnega števila študentov kasnejše naloge niso bile objavljene.</i></p>
                    </div>
                    <div class="tab-pane fade" id="fizika-1213">
                        <h4>Fizika 1</h4>
                        <p>
                            <span class="label label-default">24. 10. 2012</span>
                            <a target="_blank" href="/files/tutorstvo/fiz1/2012-13/dn_1.pdf">Domača naloga</a> -
                            <a target="_blank" href="/files/tutorstvo/fiz1/2012-13/tut_1.pdf">Rešitev</a>
                        </p>
                        <p>
                            <span class="label label-default">7. 11. 2012</span>
                            <a target="_blank" href="/files/tutorstvo/fiz1/2012-13/tut_2.pdf">Domača naloga in rešitev</a>
                        </p>
                        <p>
                            <span class="label label-default">21. 11. 2012</span>
                            <a target="_blank" href="/files/tutorstvo/fiz1/2012-13/dn_3.pdf">Domača naloga</a> -
                            <a target="_blank" href="/files/tutorstvo/fiz1/2012-13/tut_3_potisk.pdf">Rešitev</a>
                            <em>(avtor: Tilen Potisk)</em>
                        </p>
                        <p>
                            <span class="label label-default">9. 1. 2013</span>
                            <a target="_blank" href="/files/tutorstvo/fiz1/2012-13/dn_4.pdf">Domača naloga 4</a> -
                            <a target="_blank" href="/files/tutorstvo/fiz1/2012-13/tut_4+5.pdf">Domača naloga 5 in rešitev obeh</a>
                        </p>
                        <p>
                            <span class="label label-default">16. 1. 2013</span>
                            <a target="_blank" href="/files/tutorstvo/fiz1/2012-13/dn_6.pdf">Domača naloga</a> -
                            <a target="_blank" href="/files/tutorstvo/fiz1/2012-13/tut_6.pdf">Rešitev</a>
                        </p>
                        <h4>Fizika 2</h4>
                        <p>
                            <span class="label label-default">10. 4. 2013</span>
                            <a target="_blank" href="/files/tutorstvo/fiz2/2012-13/dn_1.pdf">Domača naloga</a> -
                            <a target="_blank" href="/files/tutorstvo/fiz2/2012-13/tut_1.pdf">Rešitev</a>
                        </p>
                        <p>
                            <span class="label label-default">8. 5. 2013</span>
                            <a target="_blank" href="/files/tutorstvo/fiz2/2012-13/dn_2.pdf">Domača naloga</a> -
                            <a href="http://physics.usask.ca/~hirose/EP464/ch5-09.pdf" target="_blank">Literatura - glej točko 5.3</a>
                        </p>
                        <p>
                            <span class="label label-default">22. 5. 2013</span>
                            <a target="_blank" href="/files/tutorstvo/fiz2/2012-13/dn_3.pdf">Domača naloga</a> -
                            <a target="_blank" href="/files/tutorstvo/fiz2/2012-13/tut_3.pdf">Rešitev</a> -
                            <a target="_blank" href="/files/tutorstvo/fiz2/2012-13/presentation_3.nb">Predstavitev v Mathematici</a>
                        </p>
                        <p>
                            <span class="label label-default">5. 6. 2013</span>
                            <a target="_blank" href="/files/tutorstvo/fiz2/2012-13/dn_4.pdf">Domača naloga</a> -
                            <a target="_blank" href="/files/tutorstvo/fiz2/2012-13/tut_4.pdf">Rešitev</a>
                        </p>
                    </div>
                </div>