                <p>V letnem semestru študijskega leta 2014/15 imamo tutorske vaje <strong>ob torkih med 15h in 17h v računalnici 3.11</strong>.</p>
                <p>Gradiva in primeri iz tutorstva:</p>

                <div class="row">
	                <div class="six columns">
	                	<h4>Mathematica</h4>
		                <ul>
		                    <li><a target="_blank" href="/files/tutorstvo/racorodja/uvoz_podatkov.nb">Uvažanje podatkov v Mathematico (naloga 1)</a></li>
		                    <li><a target="_blank" href="/files/tutorstvo/racorodja/histogrami.nb">Histogrami (naloga 2)</a></li>
		                    <li><a target="_blank" href="/files/tutorstvo/racorodja/grafi1.nb">Nekaj namigov o grafih v Mathematici</a></li>
		                    <li><a target="_blank" href="/files/tutorstvo/racorodja/grafi2.nb">Graf s skupnimi osmi</a></li>
		                </ul>
	                </div>
	                <div class="six columns">
	                	<h4>LaTeX</h4>
		                <ul>
		                	<li><a target="_blank" href="/files/tutorstvo/racorodja/primer.tex">Primer kode LaTeX z dodanimi paketi</a> - <a target="_blank" href="/files/tutorstvo/fiz1/2014-15/tut_3.pdf">PDF za primer</a></li>
		                	<li><a target="_blank" href="http://en.wikibooks.org/wiki/LaTeX">O Latexu na WikiBooks</a> - <a target="_blank" href="http://texstudio.sourceforge.net">Urejevalnik TeXstudio</a></li>
		                </ul>
	                </div>
	            </div>

                <p><a href="http://predmeti.fmf.uni-lj.si/racorodja" target="_blank">Spletna stran predmeta</a></p>