---
id: teaching-research
layout: personal
title: Teaching &amp; Research
permalink: /teaching-research/
---
<section class="section">
  <div class="container">
    <div class="heading">
      <h1>Teaching &amp; Research</h1>
      <h2 class="subtitle">Various resources available from my research, teaching and studies.</h2>
    </div>

    <div class="columns is-reversed">
      <div class="column is-3">
        <aside class="menu">
          <p class="menu-label">
            Research
          </p>
          <ul class="menu-list">
            <li><a href="#publications" class="smooth-scroll">Publications</a></li>
          </ul>
          <p class="menu-label">
            Tutorship Archive
          </p>
          <ul class="menu-list">
            <li><a href="#tut-racorodja" class="smooth-scroll">Rač. orodja</a></li>
            <li><a href="#tut-fizika" class="smooth-scroll">Klasična fizika</a></li>
          </ul>
        </aside>
      </div>

      <div class="column">
        <a id="publications" class="anchor"></a>
        <h2>Publications</h2>
        <p>A list of my current scientific papers:</p>
        <ul class="list-group">
            <li class="list-group-item"><a href="http://matrika.fmf.uni-lj.si/letnik-1/stevilka-1/2D_kvazikristali_v_mehki_snovi.html" target="_blank">2D kvazikristali v mehki snovi (2D quasicrystals in soft matter)</a><br>
                T. Novak, Matrika <strong>1</strong>, 3 (2014)</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <a id="tutorstvo" class="anchor"></a>
    <a id="tutorship" class="anchor"></a>
    <h2>Tutorship</h2>
    <p>I was tutor at Faculty of Mathematics and Physics, University of Ljubljana.
        All resources are only available in Slovenian.</p>

    <a id="tut-racorodja" class="anchor"></a>
    <h3>Računalniška orodja v fiziki</h3>
{% include tutorship/racorodja.html %}

    <a id="tut-fizika" class="anchor"></a>
    <h3>Klasična fizika (Fizika 1 &amp; 2)</h3>
{% include tutorship/fizika.html %}

  </div>
</section>
