/* Featurettes */
.featurette {
    padding-top: 20px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
}

.featurette.row {
    margin-top: 0;
}

.featurette-image {
    margin-top: -20px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    text-align: center;
    max-width: 300px;
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.featurette-left {
    float: left;
    margin-right: 40px;
}

.featurette-image.featurette-right {
    float: right;
    margin-left: 40px;
}

.featurette-client {
    margin: 30px 10px;
    max-width: 128px;
    max-height: 128px;
}

.featurette p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
}

.featurette-heading {
    line-height: 1;
    letter-spacing: -1px;
    text-align: left;
    text-transform: none;
    padding-top: 40px;
}


/* collapsed sidebar styles */
@media (#{$bp-smaller-than-tablet}) {
    .footer-mobile {
        color: #555555;
        text-align: center;
    }

    .featurette {
        padding: 0;
    }
    
    .featurette-image.featurette-right,
    .featurette-image.featurette-left {
        display: block;
        float: none;
        margin: 0 auto 20px;
    }

    .featurette-client {
        margin: 10px;
        max-width: 128px;
        max-height: 128px;
    }
    
    .featurette p {
        font-size: 17px;
        line-height: 1.5;
    }

    .featurette-heading {
        padding-top: 0;
    }
}
