// Navbar for Forum

@import url(//fonts.googleapis.com/css?family=Alegreya+Sans+SC:500&subset=latin-ext,latin);

.tano-bar {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    font-family: $font-family;
    color: $font-color;

    .navbar {
        display: block;
        width: 100%;
        height: $navbar-height;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .navbar-list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            margin-left: 0;
        }

        &:first-child .navbar-link {
            margin-left: 0;
        }
    }

    .navbar-item {
        position: relative;
        display: inline-block;
        margin-bottom: 0;
    }

    .navbar-link {
        font-size: 20px;
        letter-spacing: 2px;
        margin: 0 18px;
        text-decoration: none;
        line-height: $navbar-height;
        color: $font-color;

        &:hover {
            text-decoration: none;
        }
    }

    .navbar-link.active {
        color: #33C3F0;
    }

    .navbar-dark {
        background: $hover-color;
        border-top: 0;
        border-bottom: 0;

        .navbar-link {
            color: #fff;

            &:hover {
                text-decoration: none;
                color: $highlight-color;
            }
        }

        .navbar-link.active {
            color: #33C3F0;
        }
    }
}
