// Colors
$light-grey       : #e1e1e1 !default;
$dark-grey        : #333 !default;
$medium-grey      : #999 !default;
$primary-color    : #235d9b !default;
$secondary-color  : lighten($dark-grey, 13.5%) !default;
$hover-color      : #1a3a64 !default;
$highlight-color  : #AAD4FF !default;
$border-color     : #bbb !default;
$link-color       : $primary-color !default;
$link-hover-color : $hover-color !default;
$font-color       : #222 !default;

// Typography
$font-family          : 'Alegreya Sans SC',Helvetica,Arial,sans-serif !default;
$font-family-headings : $font-family;

// Misc
$navbar-height : 3rem;

// Import files
@import "navbar-forum";
