---
layout: page
---

    <a id="top" class="anchor"></a>

    <h1>{{ page.date | date: "%Y" }}</h1>
    <p class="byline">Year archive</p>

    <div class="archive">
{% for post in page.posts %}
    {% capture currentdate %}{{post.date | date: "%B"}}{% endcapture %}
    {% if currentdate != thedate %}
        <h2>{{ currentdate }}</h2>
        {% capture thedate %}{{currentdate}}{% endcapture %}
    {% endif %}
        <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <small>{{ post.date | date: "%B %-d, %Y" }}</small></h3>
{% endfor %}
    </div>
