---
layout: page
title: Tano Player Download
permalink: /tano-player/download/
tano: true
tanodownload: true
---

        <a id="top" class="anchor"></a>

        <div class="row jumbo">
            <img src="{{ "/resources/tano/laptop.png" | prepend: site.baseurl }}">
            <p class="text-center">
                <a id="download-tano" href="{{ "/download/" | prepend: site.baseurl }}" class="button button-primary button-large">Download Tano</a>
            </p>
            <ul class="links">
                <li>
                    Version {{ site.data.tano.stable.version }}
                </li>
                {% if site.data.tano.devel.version %}
                <li>
                    Pre-release {{ site.data.tano.devel.version }}
                </li>
                {% endif %}
                <li id="download-tano-desc">

                </li>
            </ul>
        </div>

        <div class="row">
            <div class="four columns">
                <h2>OS X and Windows</h2>
                <p><a href="{{ site.data.tano.devel.osx }}">Tano for OS X 10.6 and later (beta)</a></p>
                <p><!-- <a href="{{ site.data.tano.stable.win64 }}">Tano for Windows 64-bit</a><br> --><a href="{{ site.data.tano.stable.win32 }}">Tano for Windows 32-bit</a></p>
                {% if site.data.tano.devel.win64 %}
                <p><a href="{{ site.data.tano.devel.win64 }}">Tano for Windows 64-bit (beta)</a><br><a href="{{ site.data.tano.devel.win32 }}">Tano for Windows 32-bit (beta)</a></p>
                {% endif %}
                <p>Download other OS X and Windows binaries from <a href="http://github.com/ntadej/tano/releases" target="_blank">GitHub Repository</a>.</p>
            </div>
            <div class="four columns">
                <h2>Linux packages</h2>
                <p>Official Tano packages are available for
                    <a data-toggle="modal" href="#tano-modal-ubuntu">Ubuntu</a>
                    and
                    <a href="https://aur.archlinux.org/packages.php?ID=41827" target="_blank">Arch Linux</a>.</p>
                <p>There may be other community packages available in other distributions.</p>
            </div>
            <div class="four columns">
                <h2>Source</h2>
                <p>Download the latest source code using:</p>
                <pre>git clone git://github.com/ntadej/tano.git</pre>
                <p>or visit <a href="http://github.com/ntadej/tano" target="_blank">GitHub Repository</a>.</p>
            </div>
        </div>

{% include modals/projects/ubuntu.html %}
