---
layout: page
title: Tano Player
permalink: /tano-player/
smooth: true
tano: true
---
        <a id="top" class="anchor"></a>

        <div class="row jumbo">
            {% image tano/laptop.jpg %}
            <h1>A simple way to watch IP television</h1>
            <p class="text-center">
                <a id="download-tano" href="{{ "/tano-player/download/" | prepend: site.baseurl }}" class="button button-primary button-large">Download Tano</a>
            </p>
            <ul class="links">
                <li>
                    Version {{ site.data.tano.stable.version }}
                </li>
                {% if site.data.tano.devel.version %}
                <li>
                    Pre-release {{ site.data.tano.devel.version }}
                </li>
                {% endif %}
                <li id="download-tano-desc">

                </li>
                <li>
                    <a href="{{ "/tano-player/download/" | prepend: site.baseurl }}">All versions</a>
                </li>
            </ul>
            <ul class="links">
                <li>
                    <a href="http://github.com/ntadej/tano" target="_blank">GitHub project</a>
                </li>
                <li>
                    <a data-toggle="modal" href="#tano-modal-gpl">License</a>
                </li>
                <li>
                    <a data-toggle="modal" href="#tano-modal-donate">Donate</a>
                </li>
            </ul>
        </div>

        <hr class="soften">
    
        <a id="features" class="anchor first"></a>

        <div class="featurette">
            {% image tano/feature-player.jpg class="featurette-image img-circle featurette-right" %}
            <h2 class="featurette-heading">
                Fully functional multimedia player.
                <span class="text-muted">Play SD and HD TV channels.</span>
            </h2>
            <p>Tano can play almost every multimedia file, and is primarily meant for <strong>SD and HD IP Television</strong> channels.
                You can pause using <strong>time shift</strong> and set different audio/video settings, which are <strong>remembered for each channel.</strong></p>
        </div>

        <div class="featurette">
            {% image tano/feature-playlist.jpg class="featurette-image img-circle featurette-left" %}
            <h2 class="featurette-heading">
                Channel list is the heart of Tano.
                <span class="text-muted">Have your channels like on a TV.</span>
            </h2>
            <p>Every part of application depends on the channel list: select your channel to watch, browse schedule or plan a recording.
                Using integrated editor, you can edit and also scan for new channels.</p>
        </div>
        
        <div class="featurette">
            {% image tano/feature-schedule.jpg class="featurette-image img-circle featurette-right" %}
            <h2 class="featurette-heading">
                See what is comming up.
                <span class="text-muted">Use integrated schedule to plan your watching.</span>
            </h2>
            <p>Read information about <strong>current shows</strong> and also schedules for <strong>several days in advance</strong>.
                Auto updated from internet using XMLTV format, schedule is also available for browsing independent from playback.</p>
        </div>

        <div class="featurette">
            {% image tano/feature-recorder.jpg class="featurette-image img-circle featurette-left" %}
            <h2 class="featurette-heading">
                Record your favourite shows.
                <span class="text-muted">Never miss a movie again.</span>
            </h2>
            <p>If you can not watch certain show, you can use integrated recorder to save it for later.
                Plan with <strong>timers</strong> and help yourself with schedule. You can set-up daily, weekly and week days timers.</p>
        </div>

        <div class="featurette">
            <div class="featurette-image featurette-right">
                <a href="http://tt.se/om-tt/in-english/" target="_blank">
                    {% image tano/users-tt.jpg class="featurette-client" %}
                </a>
                <a href="http://gotv.ba" target="_blank">
                    {% image tano/users-gotv.jpg class="featurette-client" %}
                </a>
            </div>
            <h2 class="featurette-heading">
                Multiple happy commercial users.
                <span class="text-muted"></span>
            </h2>
            <p>Tano is used by several companies internally. It is adapted for their needs with custom default settings and branding.</p>
        </div>

        <hr class="soften">
      
        <a id="support" class="anchor"></a>
        <h1>Help &amp; Support</h1>
        <p class="byline">Having trouble watching TV? Hopefully following information will help you.</p>

        <div class="row">
            <div class="eight columns">
                <h2>System requirements</h2>
                <p>Classic Standard Definition TV channels should play normally on any newer processors, but Hight Definition TV channels need dual-core processor like Intel Core 2 or a graphics card capable of hardware acceleration.</p>
                <p>For separate internet and IP TV, two network cards are recommended. One of them should be wired. Connect TV to first, wired network card (eth0). Use second network card, that can be wireless, for internet or ethernet.</p>
            </div>
            <div class="four columns">
                <h2>Supported OS</h2>
                <p>Tano runs on <strong>Linux</strong>, <strong>OS X</strong> and <strong>Windows</strong>, other operating systems are not supported. Official packages are available for Ubuntu and Arch Linux.</p>
            </div>
        </div>
        
        <h2>Configuration</h2>
        <p>I recommend using a proxy server for watching Multicast IP TV such as UDPXY or Tvheadend. They are easier to configure and will ease your configuration.</p><!-- TODO: Links -->
        <p>If you need two network cards for watching IP TV and browsing internet at the same time, but do not want to use any additional software, you can help yourself with following instructions:</p>
        
        <ul class="nav nav-tabs" id="tabs-tano-config">
            <li class="active"><a href="#conf-linux" data-toggle="tab">Linux</a></li>
            <li><a href="#conf-osx" data-toggle="tab">OS X</a></li>
            <li><a href="#conf-windows" data-toggle="tab">Windows</a></li>
        </ul>
        <div class="tab-content well-custom">
            <div class="tab-pane fade active in" id="conf-linux">
                <div class="alert alert-warning">
                    <strong>Warning:</strong> You might need administrator privileges.
                </div>
                <h3>Basic configuration</h3>
                <p>I recommend you connect TV to eth0 and internet to eth1 or other network connection.</p>
                <p>Edit <strong>/etc/network/interfaces</strong>:</p>
{% highlight vim linenos %}
auto lo
iface lo inet loopback

iface eth0 inet static
address 10.*.*.*
netmask 255.255.0.0
up route add -net 239.255.0.0 netmask 255.255.0.0 dev eth0
auto eth0
{% endhighlight %}
                <ul>
                    <li><strong>239.255.0.0</strong> represents IP range from your playlist. <strong>Copy and modify this command for every IP range from your playlist.</strong></li>
                    <li><strong>10.*.*.*</strong> represents your network card IP to which TV source is connected</li>
                </ul>

                <h3>Advanced configuration</h3>
                <p>Edit <strong>/etc/sysctl.conf </strong>and make cure the following options are set:</p>

{% highlight vim linenos %}
net.ipv4.conf.default.rp_filter=0
net.ipv4.conf.all.rp_filter=0
{% endhighlight %}

                <p>If TV still does not work, edit <strong>/etc/rc.local</strong> to apply sysctl settings at startup. Add the following before <strong>exit 0</strong>:</p>
{% highlight vim linenos %}
sysctl -p
{% endhighlight %}
            </div>
            <div class="tab-pane fade" id="conf-osx">
                <div class="alert alert-info">
                    <strong>Information:</strong> There are currently no OS X configuration instructions available.
                </div>
            </div>
            <div class="tab-pane fade" id="conf-windows">
                <div class="alert alert-warning">
                    <strong>Warning:</strong> You might need administrator privileges.
                </div>
                <h3>Basic configuration</h3>
                <p>I recommend your TV source is connected to a network card which says "Local Area Connection" and internet to "Local Area Connection 2". If not obtained automatically, set the static IP address of your network card which is connected to TV.</p>
                <div class="alert alert-info">
                    <strong>Information:</strong> You can read more information about changing network card IP <a href="http://www.tech-faq.com/how-to-change-ip-address.html" target="_blank">here</a>.
                </div>
                
                <h3>Advanced configuration</h3>
                <p>If TV does not work, run this in command line:</p>
                {% highlight bash %}
                route -p add 239.255.0.0 mask 255.255.0.0 10.*.*.*
                {% endhighlight %}
                <ul>
                    <li><strong>239.255.0.0</strong> represents IP range from your playlist. <strong>Modify this command for every IP range from your playlist.</strong></li>
                    <li><strong>10.*.*.*</strong> represents your network card IP to which TV source is connected</li>
                </ul>
            </div>
        </div>

        <hr class="soften">
      
        <a id="contribute" class="anchor"></a>
        <h1>Contribute</h1>
        <p class="byline">Tano Player being open-source project, any help is welcome</p>
        
        <div class="text-center">
            <p>Tano is <strong>free (libre) software</strong>. This means that the application source code is available to public, anyone is welcome to research how the application works, participate in its development, freely distribute the application and spread the word!</p>
        </div>

        <div class="row">
            <div class="four columns">
                <h2>Report issues</h2>
                <p>There is always an issue that hides from me. You can help me by reporting it on our <a href="https://github.com/ntadej/tano/issues"  target="_blank">Bug tracker</a>.</p>
                <p>&nbsp;</p>
                <h2>Translate</h2>
                <p>Help learning Tano speak multiple languages on <a href="https://www.transifex.com/projects/p/tano/" target="_blank">Transifex</a>.</p>
            </div>
            <div class="four columns">
                <h2>Code and design</h2>
                <p>New features and fixes are always welcome. Coding is the main part of the development but you can also help with redesigning existing views and graphics.</p>
                <p>You can find more information on the <a href="https://github.com/ntadej/tano" target="_blank">GitHub Repository</a>.</p>
            </div>
            <div class="four columns">
                <h2>Donate</h2>
                <p>You can always support me by donating for our servers and test hardware.</p>
                <p><a data-toggle="modal" href="#tano-modal-donate">Donate</a></p>
            </div>
        </div>
      
{% include modals/projects/donate.html %}
{% include modals/license/gpl.html %}
