---
id: blog
layout: personal
title: Blog
permalink: /blog/
---
<section class="section blog">
  <div class="container">
    <div class="heading">
      <h1>Tadej Novak's Blog</h1>
      <h2 class="subtitle">Thoughts, news and updates</h2>
    </div>

{% capture today %}{{ 'now' | date: "%Y" }}{% endcapture %}
{% for post in site.posts %}
  {% capture postdate %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% if today == postdate %}
    <header class="heading post-header">
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
{% include common/post_meta.html %}
    </header>

    <article class="columns post-content">
      <div class="column">
        {{ post.excerpt }}
      </div>
    </article>

    <footer class="post-footer">
      <nav class="pagination">
        <a class="button" href="{{ post.url }}">Continue reading →</a>
      </nav>
    </footer>

    <hr>
  {% endif %}
{% endfor %}

    <div class="archive">
{% for post in site.posts %}
  {% capture currentdate %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if currentdate != today%}
  {% if currentdate != thedate %}
      <h3>{{ currentdate }}</h3>
      {% capture thedate %}{{currentdate}}{% endcapture %}
  {% endif %}
      <h4><a href="{{ post.url }}">{{ post.title }}</a> <small>{{ post.date | date: "%B %-d, %Y" }}</small></h4>
  {% endif %}
{% endfor %}
    </div>

  </div>
</section>
