{% include sidebar/start.html %}
	        	<a class="sidebar-image img-circle avatar" href="{% if site.url == site.url %}{% if page.homepage %}#top{% else %}{{ site.baseurl }}/{% endif %}{% else %}{{ site.url }}{% endif %}"></a>

	        	<h1>Tadej Novak</h1>

	        	<div class="icons">
	        		<a href="{{ site.url }}/feed.rss" target="_blank" title="RSS Feed"><span class="ion-social-rss"></span></a>
	        		<a href="https://twitter.com/ntadej" target="_blank" title="Twitter @ntadej"><span class="ion-social-twitter"></span></a>
	        		<a href="https://github.com/ntadej" target="_blank" title="Github @ntadej"><span class="ion-social-github"></span></a>
	        		<a href="https://linkedin.com/in/ntadej" target="_blank" title="LinkedIn"><span class="ion-social-linkedin"></span></a>
	        		<a
class='email
href="mailto:x@y"
'
href
 =	'	
&#x20;m&#x61;&#x69;&#x6c;&#x74;o&#58;&#x25;&#50;&#x30;t&#x61;&#37;6&#52;&#x65;&#37;&#x36;a@&#x74;&#97;&#x6E;&#x6f;.&#x73;i
'><span class="ion-email"><!--
mailto:abuse@hotmail.com
</a>
--></span></a>
	        	</div>

	        	<nav class="nav-sidebar">
			        <ul class="nav nav-stacked">
	                    <li><a href="{% if site.url == site.url %}{% if page.homepage %}{% else %}{{ site.baseurl }}/{% endif %}{% else %}{{ site.url }}{% endif %}#about">About</a></li>
	                    <li{% if page.bloghome %} class="active"{% endif %}><a href="/blog/">Blog</a></li>
	                    <li><a href="{% if site.url == site.url %}{% if page.homepage %}{% else %}{{ site.baseurl }}/{% endif %}{% else %}{{ site.url }}{% endif %}#academic">Academic</a>
	                    	<ul class="nav nav-stacked">
			                    <li><a href="{% if site.url == site.url %}{% if page.homepage %}{% else %}{{ site.baseurl }}/{% endif %}{% else %}{{ site.url }}{% endif %}#research">Research</a></li>
			                    <li><a href="{% if site.url == site.url %}{% if page.homepage %}{% else %}{{ site.baseurl }}/{% endif %}{% else %}{{ site.url }}{% endif %}#tutorship">Tutorship</a></li>
			                </ul>
			            </li>
			            <li>
			                <a href="{% if site.url == site.url %}{% if page.homepage %}{% else %}{{ site.baseurl }}/{% endif %}{% else %}{{ site.url }}{% endif %}#projects">Projects</a>
			                <ul class="nav nav-stacked">
			                    <li><a href="{% if site.url == site.url %}{% if page.homepage %}{% else %}{{ site.baseurl }}/{% endif %}{% else %}{{ site.url }}{% endif %}#games">Games</a></li>
			                    <li><a href="{% if site.url == site.url %}{% if page.homepage %}{% else %}{{ site.baseurl }}/{% endif %}{% else %}{{ site.url }}{% endif %}#multimedia">Multimedia</a></li>
			                    <li><a href="{% if site.url == site.url %}{% if page.homepage %}{% else %}{{ site.baseurl }}/{% endif %}{% else %}{{ site.url }}{% endif %}#web">Web</a></li>
			                    <li><a href="{% if site.url == site.url %}{% if page.homepage %}{% else %}{{ site.baseurl }}/{% endif %}{% else %}{{ site.url }}{% endif %}#archive">Archive</a></li>
			                </ul>
			            </li>
			        </ul>
			    </nav>
{% include sidebar/end.html %}