{% include sidebar/start.html %}
	        	<a class="sidebar-image logo particle-clicker" href="#top"></a>

	        	<h1>Particle Clicker</h1>

	        	<nav class="nav-sidebar">
			        <ul class="nav nav-stacked">
                    	<li><a href="#about">About</a></li>
                    	<li><a href="#contribute">Contribute</a></li>
                    	<li><a href="http://cern.ch/particle-clicker">Play now!</a></li>
	                </ul>
	                <ul class="nav nav-stacked nav-extra">
	                	<li><a href="{{ "/#projects" | prepend: site.baseurl }}">All projects</a></li>
	                	<li><a href="{{ site.baseurl }}/">Home</a></li>
			        </ul>
			    </nav>
{% include sidebar/end.html %}
