{% include sidebar/start.html %}
	        	<a class="sidebar-image logo player" href="#top"></a>

	        	<h1>Tano Player</h1>

	        	<nav class="nav-sidebar">
			        <ul class="nav nav-stacked">
	                    <li class="nav-item"><a href="{% if page.tanodownload %}{{ site.baseurl }}/tano-player/{% endif %}#features" class="nav-link">Features</a></li>
	                    <li class="nav-item"><a href="{% if page.tanodownload %}{{ site.baseurl }}/tano-player/{% endif %}#support" class="nav-link">Help &amp; Support</a></li>
	                    <li class="nav-item"><a href="{% if page.tanodownload %}{{ site.baseurl }}/tano-player/{% endif %}#contribute" class="nav-link">Contribute</a></li>
	                    <li class="nav-item"><a href="{{ "/tano-player/download/" | prepend: site.baseurl }}" class="nav-link {% if page.tanodownload %}active{% endif %}">Download</a></li>
	                </ul>
	                <ul class="nav nav-stacked nav-extra">
	                	<li class="nav-item"><a href="{{ "/#projects" | prepend: site.baseurl }}" class="nav-link">All projects</a></li>
	                	<li class="nav-item"><a href="{{ site.baseurl }}/" class="nav-link">Home</a></li>
			        </ul>
			    </nav>
{% include sidebar/end.html %}
